.containerCards{
 min-height: 100vh;

}

.cards {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  .loading1{
    margin-top: 50px;
    color: aliceblue;
    z-index: 10000;
    height: 100vh;
  }
  .loading{
    height: 100vh;
    z-index: 10000;
    margin-top: 50px;
    color: #6b80a0;
  }

  @media screen and (max-width: 800px){
    .cards{
      flex-direction: column-reverse;
    }
  }