
/* .card::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: -50px;
  left: -30px;
  background-color: #334b70;
  opacity: 0.1;
} */
/* .card:hover:after {
  transition: 1s;
  position: absolute;
  background-color: #0f1011;
  top: -70px;
  left: -50px;
  width: 150px;
  height: 150px;
} */

.card {
  background-image: url('../../asset/lluvia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  box-shadow: 0px 0px 5px 0.2px rgb(252, 252, 252);
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 30px 30px 130px 130px;
  margin: 30px;
  width: 18rem;
  z-index: 100;

  
}
/* .card:hover:before {
  transition: 1s;
  position: absolute;
  top: 220px;
  left: 210px;
  width: 100px;
  height: 100px;
} */
/* .card::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 160px;
  left: 120px;
  background-color: #334b70;
  opacity: 0.1;
} */
/* .cardNew:hover:after {
  transition: 1s;
  position: absolute;
  background-color: #0f1011;
  top: -70px;
  left: -50px;
  width: 150px;
  height: 150px;
} */

.cardNew::after {
  background-image: url('../../asset/nubes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 280px/250px;
  width: 220px;
  height: 200px;
  top: 45px;
  left: -80px;
  box-shadow: -5px 0px 3px 0px rgb(255, 255, 255);
  background-color: #fff;
}
.cardNew {
  background-image: url('../../asset/nubes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  position: relative;
  z-index: 100;
  box-shadow: 3px 3px 3px 1px rgb(255, 255, 255);
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 50%;
  margin: 30px;
  width: 300px;
}
.cardNew::before {
  background-image: url('../../asset/nubes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  content: "";
  box-shadow: 8px 0px 3px 0px rgb(255, 255, 255);
  position: absolute;
  border-radius: 280px/250px;
  width: 200px;
  height: 180px;
  top: 80px;
  left: 150px;
  background-color: #fff;
  z-index: -1;
}

/* .cardNew:hover:before {
  transition: 1s;
  position: absolute;
  top: 240px;
  left: 210px;
  width: 100px;
  height: 100px;
} */

.iconoClima {
  margin: auto;
}
.cartas {
  text-align: center;
}

.card-title {
  color: #000000;
  margin-bottom: 15px;
}
.card-title1 {
  color: aliceblue;
  margin-bottom: 15px;
}
.card-title:hover {
  transition: 2s;
  border-right: 60px solid #cad3e2;
  border-left: 60px solid #cad3e2;
  border-color: aliceblue;
}
.card-title1:hover {
  transition: 2s;
  border-right: 60px solid rgb(0, 0, 0);
  border-left: 60px solid rgb(0, 0, 0);
  border-color:aliceblue;
}

.dataCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartasDatos-p1 {
  border-color: #000000;
  color: #000000;
}
.cartasDatos-p3 {
  border-color: aliceblue;
  color: aliceblue;
}
.cartasDatos-p1:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.cartasDatos-p3:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.cartasDatos-p2 {
  color: #000000;
  text-decoration: none;
}
.cartasDatos-p4 {
  color:aliceblue;
  text-decoration: none;
}
.cartasDatos-p2:hover {
  transition: 0.3s;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.cartasDatos-p4:hover {
  transition: 0.3s;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
#changeIcon {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-top: 8px;
}
#closeIcon {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-top: 8px;
}
.botonChange2 {
  width: 20px;
  height: 20px;
  background-color: #c75e3e;
  border-radius: 50%;
  border-color: #c5c5c5;
  color: aliceblue;
}
.botonChange2:hover {
  transition: 0.5s;
  outline: none;
  background-color: #0a0a0a;
  border-color: #c2c1c1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0.2px #000;
}
.botonChange {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border-color: #334b70;
  color: aliceblue;
}
.botonChange:hover {
  transition: 0.5s;
  outline: none;
  background-color: #e9e6e2;
  border-color: #7c93b6;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0.2px #000;
}
.boton2 {
  width: 50px;
  background-color: #152333;
  border-radius: 50%;
  border-color: #334b70;
  color: aliceblue;
}
.boton2:hover {
  box-shadow: 0px 0px 4px 0.2px #000;
  transition: 1s;
  outline: none;
  background-color: #e04018;
  width: 80px;
  border-color: #334b70;
  border-radius: 6px;
}
.boton {
  width: 50px;
  background-color: aliceblue;
  border-radius: 50px 50px 100px 100px;
  border-color: #334b70;
  color: rgb(0, 0, 0);
}
.boton:hover {
  box-shadow: 0px 0px 4px 0.2px #000;
  transition: 1s;
  outline: none;
  background-color: #c43714;
  color: aliceblue;
  width: 80px;
  border-color: #334b70;
  border-radius: 50px 50px 400px 400px;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.card-body1{
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .boton {
    width: 80px;
    background-color: #c43714;
    border-radius: 100px 100px 400px 400px;
    border-color: aliceblue;
    color: aliceblue;
  }
  .boton2 {
    width: 40px;
    background-color: #c43714 ;
    border-radius: 50%;
    border-color:rgb(228, 228, 228);
  }

  .card-title{
    font-size: 15px;
    margin: 0 10px;
  }
  .dataCard{
    font-size: 13px;
    margin: 10px 15px 0px 15px;
    justify-content: space-around;
  }
  .cartasDatos-p1{
    margin: 10px;
  }
  .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: -50px;
    margin-bottom: -15px;
  }
  .card-body1{
    display: flex;
    flex-direction: column;
  }

  .botonChange2{
    width: 15px;
    height: 15px;
  }
  .cardNew{
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px 1px rgb(255, 255, 255);

  }
  .cardNew::before {
    width: 130px;
    height: 110px;
    left: 110px;
    top: 60px;
    box-shadow: 8px 0px 3px 0px rgb(255, 255, 255);
    
  }
  .cardNew::after {
    box-shadow: -5px 0px 3px 0px rgb(255, 255, 255);
    width: 140px;
    height: 120px;
    left: -50px;
  }
  .card::before {
    width: 120px;
    height: 120px;
    left: 220px;
  }
  .card::after {
    width: 120px;
    height: 120px;
  }

}
