.botonSearch{
    background-color: #6b80a0;
    color: aliceblue;
    border:1px solid aliceblue;
}

.botonSearch:hover{
    transition: .5s;
    background-color: aliceblue;
    color: #6b80a0;
    border:1px solid aliceblue;
}