*{
    font-family: 'Secular One', sans-serif;
}
body{
    background-image: url('./asset/nubes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    /* color: aliceblue; */
    text-decoration: none;
}