.navegacion2 {
  background-image: url('../../asset/nubes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0 0 0 50px;
  box-shadow: 0 1px 3px 1px white;
  z-index: 100;
  
}
.navegacion1 {
  background-image: url('../../asset/lluvia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0 0 0 50px;
  box-shadow: 0 1px 5px 1px white;
  z-index: 100;

}

#logo {
  margin: 0 10px 0 10px;
}
.linkCabecera{
  justify-self: unset;
}
.cabecera {
  text-decoration: none;
  letter-spacing: 1px;
}

.linkHome {
  letter-spacing: 1px;
  /* outline: 2px solid aliceblue; */
  padding: 5px 4px;
  color: aliceblue;
}
.linkHome1 {
  border-radius: 50%;
  border: 0px;
  border: 1px solid aliceblue;
  background-color: #292828;
  /* outline: 2px solid aliceblue; */
  padding: 5px 4px;
  color: aliceblue;
}
.linkHome2 {
  border-radius: 50%;
  border: 0px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  /* outline: 2px solid aliceblue; */
  padding: 5px 4px;
  color: #050505;
}
.linkHome1:hover {
  color: aliceblue;
  border-radius: 5px;
  transition: 1s;
}
.linkHome2:hover {
  color: #050505;
  border-radius: 5px;
  transition: 1s;
}
.linkHome:hover {
  color: aliceblue;
  outline-style: dotted;
  border-radius: 15px;
  transition: 0.5s;
}

@media screen and (max-width: 900px) {
  .navegacion2 {
    display: flex;
    justify-content: center;
    border-radius: 0 0 30px 30px;
  }
  .navegacion1 {
    display: flex;
    justify-content: center;
    border-radius: 0 0 30px 30px;
  }

  .linkHome {
    letter-spacing: .5px;
    /* outline: 2px solid aliceblue; */
    padding: 2px 1px;
    color: aliceblue;
    font-size: 15px;
  }
  .linkCabecera{
    justify-self: flex-start;
  }

}
